# CSE-221710313059-T.Yasasvi

In [1]:
import numpy as np
import pandas as pd
import string

In [2]:
corpus = [
   'This is the first document.',
     'This document is the second document.',
      'And this is the third(#)  one.',
     'Is this the first document?',
     "The quick brown fox jumped over the lazy dog.",
     "John is a good boy!!!. John watches basketball",
     " We are going to the party:-)",
     " It is very cold(today)",]

In [3]:
words=dict()
corpus_nopun=[]
for line in corpus:
    s=''
    for i in line:
        if i not in string.punctuation:
            s+=i
    corpus_nopun.append(s)
    word=s.lower().split()
    for w in word:
        words[w]=words.get(w,0)+1

In [4]:
corpus_nopun

['This is the first document',
 'This document is the second document',
 'And this is the third  one',
 'Is this the first document',
 'The quick brown fox jumped over the lazy dog',
 'John is a good boy John watches basketball',
 ' We are going to the party',
 ' It is very coldtoday']

In [5]:
words

{'this': 4,
 'is': 6,
 'the': 7,
 'first': 2,
 'document': 4,
 'second': 1,
 'and': 1,
 'third': 1,
 'one': 1,
 'quick': 1,
 'brown': 1,
 'fox': 1,
 'jumped': 1,
 'over': 1,
 'lazy': 1,
 'dog': 1,
 'john': 2,
 'a': 1,
 'good': 1,
 'boy': 1,
 'watches': 1,
 'basketball': 1,
 'we': 1,
 'are': 1,
 'going': 1,
 'to': 1,
 'party': 1,
 'it': 1,
 'very': 1,
 'coldtoday': 1}

In [6]:
co1=list(words.keys())
co2=list(words.values())
corpus_df=pd.DataFrame(np.array([co1,co2])).transpose()
corpus_df.rename(columns={0:"words",1:"count"},inplace=True)
corpus_df

         words count
0         this     4
1           is     6
2          the     7
3        first     2
4     document     4
5       second     1
6          and     1
7        third     1
8          one     1
9        quick     1
10       brown     1
11         fox     1
12      jumped     1
13        over     1
14        lazy     1
15         dog     1
16        john     2
17           a     1
18        good     1
19         boy     1
20     watches     1
21  basketball     1
22          we     1
23         are     1
24       going     1
25          to     1
26       party     1
27          it     1
28        very     1
29   coldtoday     1

In [7]:
corpus_df.shape

(30, 2)