In [1]:
import pandas as pd
import numpy as np

In [9]:
#5. creating the folder--> 5files
import os 
import string
import random
#os.mkdir("python class")
for i in range (1,6):
    file_name = "C:\\Users\\DELL\\Desktop\\Internship\\Data Science\\python class\\file%d"%(i)
    f = open(file_name,"a")
    data = ""
    for i in range(512):
        data = data + random.choice(string.ascii_letters) 
    f.write(data)
    f.close()

In [3]:
pwd

'C:\\Users\\DELL\\Desktop\\Internship\\Data Science'

In [7]:
import random
random.choice(string.ascii_letters)

'Z'

In [10]:
list1=list(range(1,11))
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
range(1,11)

range(1, 11)

### List Comprehension

In [12]:
#create another list with even numbers of list1
list1=list(range(1,11))
list2=[]
for i in list1:
    if i%2==0:
        list2.append(i)
print(list2)

[2, 4, 6, 8, 10]

In [16]:
#list Comprehension
list3 = [i for i in list1 if i%2 == 0]
print(list3)

[2, 4, 6, 8, 10]

In [17]:
#Accept string as an input and print all the digits and count of the digits
#input : "Hello 12345"
#output : ['1','2','3','4','5']
a=input()
b=[i for i in a if i.isdigit() ]
print(b,len(b))

Hello 12345
['1', '2', '3', '4', '5'] 5

In [18]:
list5=list(range(1,11))
list6=list(range(11,21))
print(list5,list6)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [20]:
# o/p: [12,14,16,........]
r=[list5[i]+list6[i] for i in range(len(list5))]
r

[12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [21]:
#zip()
r=[x+y for x,y in zip(list5,list6)]
r

[12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

### Anonymous function(lambda function)
```lambda arguments : logic```

In [22]:
s=lambda x : x**2
s(12)

144

In [23]:
add=lambda x,y:x+y
add(10,20)

30

### map():
```map(function_name,iterable_object)```

In [24]:
list6=list(range(1,11))
list6

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
#output:[2,4,6,8,10,12,14,16,18.20]
r=[i*2 for i in list6]
r

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [27]:
#map(function_name,iterable_object)
r=list(map(lambda i:i*2,list6))
r

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [28]:
'10 20 30'.split()

['10', '20', '30']

In [30]:
#unpacking 
x,y,z=list(map(int,input().split()))
print(x,y,z)

10 20 30
10 20 30

### filter()

In [31]:
list6

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
r=[]
for i in list6:
    if i%5==0:
        r.append(i)
r

[5, 10]

In [35]:
list(filter(lambda x:(x%5==0),list6))

[5, 10]

### Reduce()

In [37]:
from functools import reduce

In [39]:
list1=[1,2,3,4,5]
#output:120
m=1
for i in list1:
    m*=i
print(m)

120

In [41]:
reduce(lambda x,y:x*y,list1)

120